################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LinLib/.vs/
/LinLib/bin/Debug
/LinLib/obj/Debug
/LinLib/bin/Release
/LinLib/obj/Release
/LinLib/obj/
